<h1 style = "background-color:lavender;" >Hi! My name is Charlyn </h1>
<p style = "background-color:lightpink;" >Hi! My name is Christopher Gesicho </p>
<%= link_to 'HOME', pages_home_path %>

<img src="pulpitrock.jpg" alt="Mountain View" width="500" height="377">