<h1 style = "background-color:maroon; color:lightslategrey; padding:100px;text: center; " >Hi! My name is Charlyn </h1>


<p style = "background-color:lightpink;" >Hi! My name is Christopher Gesicho </p>

<table>
  <tr>

    <th>LINKS</th>
  </tr>
  <tr>
    <td><%= link_to 'HOME', root_path %></td>
  </tr>
  <tr>
    <td><%= link_to 'About', pages_about_path %></td>
  </tr>

</table>

