<div class ="container">

  <footer class ="footer">
    <small>
      Designed by Michelle Machiri
      Email: michmach321@gmail.com

    </small>
    <nav>
      <ul>
        <li><%= link_to "About", pages_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>